.dashboard {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .sidebar {
    width: 220px;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  
    .logo {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  
    nav a {
      padding: 0.75rem;
      color: #fff;
      text-decoration: none;
      display: block;
      border-radius: 4px;
      margin-bottom: 0.5rem;
  
      &.active, &:hover {
        background: #444;
      }
    }
  }
  
  .content {
    flex: 1;
    background-color: #fafafa;
    padding: 2rem;
    overflow-y: auto;

    .escopo-profile{
      align-items: center;  
      padding: 0.75rem 1rem;  
      margin-top: 0;
      margin: -30px -2rem 1rem -2rem; /* negativo do padding do pai */
      border: 1px solid #ddd;   
      border-top: 0;
      border-right: 0;
      border-left: 0;    
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); 

      .profile {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: right;
  
        .info {
          text-align: right;
          span {
            font-weight: bold;
          }
          small {
            color: gray;
            display: block;
          }
        }
  
        .avatar {
          width: 40px;
          height: 40px;
          background: #333;
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
    }
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      h1{
        margin: 0;
        margin-bottom: 0;
        font-size: 30px;
      }

      p{
        margin-top: 0;
      }
  
      .profile {
        display: flex;
        align-items: center;
        gap: 1rem;
  
        .info {
          text-align: right;
          span {
            font-weight: bold;
          }
          small {
            color: gray;
          }
        }
  
        .avatar {
          width: 40px;
          height: 40px;
          background: #333;
          color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
        }
      }
    }
  
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
      margin-top: 2rem;
  
      .card {
        background: #fff;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      }
    }
  
    .middle {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
  
      .distribuicao, .eventos {
        background: #fff;
        flex: 1;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        padding: 1rem;
  
        h3 {
          margin-top: initial;
          margin: 0;
          font-weight: 500;
          font-size: 23px;
          font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto";
        }

  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin-bottom: 0.5rem;
            display: flex;
            align-items: center;
            background: none;
  
            .faixa {
              padding: 2px 8px;
              border: 2px solid transparent;
              border-radius: 16px;
              font-size: 0.9rem;
              margin-right: 8px;
            }
  
            &.white .faixa { background: #eee; color: black; font-weight: bold;}
            &.blue .faixa { background: rgb(12, 154, 219);  color: white; font-weight: bold;}
            &.purple .faixa { background: rgb(189, 15, 189);  color: white; font-weight: bold;}
            &.brown .faixa { background: rgb(100, 35, 35);  color: white; font-weight: bold;}
            &.black .faixa { background: black;  color: white; font-weight: bold;}
          }
        }
  
        .evento {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          align-items: center;  
          padding: 0.75rem 1rem;  
          margin-bottom: 1rem;

          border: 1px solid #ddd;   
          border-radius: 8px;      
          background: #fff;        
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); 
        }

          .titulo-data {
          display: flex;
          flex-direction: column;

          h4 {
            margin: 0;
            font-size: 1rem;
            font-weight: 600;
          }

          .data {
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 0.85rem;
            color: #555;
          }
        }
  
        .inscritos {
          background: #eee;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 0.85rem;
        }
      }
    } 

    .description{
      margin-bottom: 1rem;
      top: 0px;
      font-size: 15px;
      font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto";
      color: #78716C;
    }
  
    .presenca {
      margin-top: 2rem;
      background: #fff;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
      .barra {
        position: relative;
        background: #ddd;
        height: 16px;
        border-radius: 8px;
        margin-top: 1rem;
        overflow: hidden;
  
        .progress {
          height: 100%;
          background: black;
        }
  
        span {
          position: absolute;
          top: -25px;
          right: 0;
          font-weight: bold;
        }
      }
    }
  }
  